openapi: '3.0.2'
info:
  title: SDK for Loopring Layer 2
  version: '0.0.0'
servers:
  - url: https://api3.loopring.io
    description: Mainnet server
  - url: https://uat2.loopring.io
    description: Goerli server
tags:
  - name: account
    description: Loopring Account
  - name: nft
    description: Counterfactual NFT
  - name: lock
    description: Locking of Assets
  - name: trade
    description: Trade NFT
  - name: wallet
    description: Wallet APIs
paths:
  /api/v3/nft/transfer:
    post:
      operationId: transferNft
      summary: Transfer NFT
      description: transfer nft
      tags:
        - nft
      parameters:
        - in: header
          name: X-API-KEY
          schema:
            type: string
          required: true
        - in: header
          name: X-API-SIG
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferNftRequest'
      responses:
        '200':
          description: Transfer NFT Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxHashInfo'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultInfo'
  /api/v3/counterFactualInfo:
    get:
      operationId: getCounterFactualInfo
      summary: Counterfactual Wallet Info
      tags:
        - account
      parameters:
        - in: query
          name: accountId
          schema:
            type: integer
          description: Account ID
          required: true
      responses:
        '200':
          description: Returns the counterfactual wallet info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CounterfactualWalletInfo'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultInfo'
  /api/v3/user/nft/offchainFee:
    get:
      operationId: getNFTOffchainFee
      summary: GET NFT Offchain Fee
      tags:
        - nft
      parameters:
        - in: query
          name: accountId
          schema:
            type: integer
          description: Account ID
          required: true
        - in: query
          name: requestType
          schema:
            type: integer
            enum: [9, 10, 11, 13, 19]
          description: Off-chain request type Allowable ['9:NFT_MINT', '10:NFT_WITHDRAWAL', '11:NFT_TRANSFER', '13:DEPLOY_TOKENADDRESS', '19:NFT_TRANSFER_AND_UPDATE_ACCOUNT']
          required: true
        - in: query
          name: tokenAddress
          schema:
            type: string
          description: (Optional) the NFT tokenAddress, needed when requestType is 9 or 10
        - in: query
          name: deployInWithdraw
          schema:
            type: boolean
          description: (Optional) Deploy the counterFactual NFT token when withdraw, if the contract not deployed and you want to deploy it when withdraw, need set to true to get the withdrawal fee
        - in: header
          name: X-API-KEY
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Returns the fee amount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OffchainFeeInfo'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultInfo'
  /api/v3/storageId:
    get:
      operationId: getNextStorageId
      summary: Storage Id
      description: Fetches the next order id for a given sold token. If the need arises to repeatedly place orders in a short span of time, the order id can be initially fetched through the API and then managed locally. Each new order id can be derived from adding 2 to the last one.
      tags:
        - account
      parameters:
        - in: query
          name: accountId
          schema:
            type: integer
          description: Loopring account identifier
          required: true
        - in: query
          name: sellTokenId
          schema:
            type: integer
          description: The unique identifier of the token which the user wants to sell in the next order.
          required: true
        - in: query
          name: maxNext
          schema:
            type: boolean
          description: (Optional) Return the max of the next available storageId, so any storageId > returned value is available, to help users manage storageId by themselves. for example, if [20, 60, 100] is available, all other ids < 100 are used before, the user gets 20 if the flag is false (and 60 in the next run), but gets 100 if the flag is true, so he can use 102, 104 freely.
        - in: header
          name: X-API-KEY
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Returns the next storage id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NextStorageIdInfo'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultInfo'
  /api/v3/nft/mint:
    post:
      operationId: mintNft
      summary: Mint NFT
      description: mint nft in Loopring layer2, only can mint ERC1155 in layer2 now.
      tags:
        - nft
      parameters:
        - in: header
          name: X-API-KEY
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NFTMintRequestV3'
      responses:
        '200':
          description: Mint NFT Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxHashInfo'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultInfo'
  /api/v3/user/nft/balances:
    get:
      operationId: getUserNftBalances
      summary: Get users NFT balance, besides amount, it also includes tokenId and nftData
      tags:
        - nft
      parameters:
        - in: query
          name: accountId
          schema:
            type: integer
          description: Account ID
          required: true
        - in: query
          name: nftDatas
          schema:
            type: string
          description: (Optional) The Loopring's NFT token data identifier which is a hash string of NFT token address and NFT_ID, separated by ","
        - in: query
          name: tokenAddrs
          schema:
            type: string
          description: (Optional) NFT token address, separated by ","
        - in: query
          name: tokenIds
          schema:
            type: string
          description: (Optional) The token slot ID in loopring DEX, separated by ","
        - in: query
          name: offset
          schema:
            type: integer
          description: (Optional) Number of records to skip
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 0
            maximum: 50
          description: (Optional) Number of records to return. Default is 20, max is 50.
        - in: query
          name: nonZero
          schema:
            type: boolean
          description: (Optional) Hide 0 balance NFT token, default is true.
        - in: query
          name: metadata
          schema:
            type: boolean
          description: (Optional) Include metadata, default is false.
        - in: header
          name: X-API-KEY
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Returns the users NFT balances
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserNftBalancesInfo'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultInfo'
  /api/v3/lockAssets:
    post:
      operationId: lockAsset
      summary: Lock Asset
      description: Lock Asset.
      tags:
        - lock
      parameters:
        - in: header
          name: X-API-KEY
          schema:
            type: string
          required: true
        - in: header
          name: X-API-SIG
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LockAssetRequest'
      responses:
        '200':
          description: Lock Asset Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockAssetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultInfo'
  /api/v3/unlockAssets:
    post:
      operationId: unlockAsset
      summary: Unlock Asset
      description: Unlock Asset.
      tags:
        - lock
      parameters:
        - in: header
          name: X-API-KEY
          schema:
            type: string
          required: true
        - in: header
          name: X-API-SIG
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnlockAssetRequest'
      responses:
        '200':
          description: Lock Asset Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockAssetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultInfo'
  /api/v3/nft/trade:
    post:
      operationId: tradeNft
      summary: Trade NFT
      description: Trade NFT.
      tags:
        - trade
      parameters:
        - in: header
          name: X-API-KEY
          schema:
            type: string
          required: true
        - in: header
          name: X-API-SIG
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradeNftRequest'
      responses:
        '200':
          description: Trade NFT Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeNftResponse'
  /api/v3/account:
    get:
      operationId: getAccount
      summary: Get Account info
      description: One of owner and accountId is required.
      tags:
        - account
      parameters:
        - in: query
          name: owner
          schema:
            type: string
          description: Ethereum address, either owner or accountId should be presented.
          required: false
        - in: query
          name: accountId
          schema:
            type: integer
          description: AccountID, if owner is presented, it must be aligned with the owners accountId, otherwise an error occurs.
          required: false
      responses:
        '200':
          description: Returns the account info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfo'
  /api/v3/apiKey:
    get:
      operationId: getUserApiKey
      summary: Get the ApiKey associated with the user's account
      tags:
        - account
      parameters:
        - in: query
          name: accountId
          schema:
            type: integer
          description: Account ID
          required: true
        - in: header
          name: X-API-SIG
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Returns the user's ApiKey
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserApiKey'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultInfo'
  /api/wallet/v3/resolveName:
    get:
      operationId: resolveName
      summary: Resolve address to loopring ENS name
      tags:
        - wallet
      parameters:
        - in: query
          name: owner
          schema:
            type: string
          description: Ethereum address.
          required: true
      responses:
        '200':
          description: Resolved name info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolveNameInfo'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultInfo'
  /api/v3/nft/info/nftData:
    get:
      operationId: getNftData
      summary: Query nftDatas by minter, tokenAddress and nftID.
      tags:
        - nft
      parameters:
        - in: header
          name: X-API-KEY
          schema:
            type: string
          required: true
        - in: query
          name: minter
          schema:
            type: string
          description: The minter's address.
          required: true
        - in: query
          name: tokenAddress
          schema:
            type: string
          description: The NFT token's address
          required: true
        - in: query
          name: nftId
          schema:
            type: string
          description: The NFT Id of the NFT token
          required: true
      responses:
        '200':
          description: Returns the NFT data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NftDataInfo'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultInfo'
components:
  schemas:
    ResultInfo:
      type: object
      properties:
        ResultInfo:
          type: object
          properties:
            code:
              type: number
            msg:
              type: string
            message:
              type: string
    TokenAmountInfo:
      type: object
      properties:
        tokenId:
          type: integer
          description: The Loopring's ERC20 token identifier.
        amount:
          type: string
          description: The amount of the ERC20 token
      required:
        - tokenId
        - amount
    TokenFeeInfo:
      type: object
      properties:
        token:
          type: string
          description: fee token
        tokenId:
          type: integer
          description: tokenId
        fee:
          type: string
          description: fee amount
        discount:
          type: number
          description: token discount. 0.8 means 80% of the fee
      required:
        - token
        - fee
    CounterfactualWalletInfo:
      type: object
      properties:
        accountId:
          type: integer
          description: accountId
        wallet:
          type: string
          description: wallet
        walletFactory:
          type: string
          description: walletFactory
        walletSalt:
          type: string
          description: walletSalt
        walletOwner:
          type: string
          description: walletOwner
      required:
        - accountId
        - wallet
        - walletFactory
        - walletSalt
        - walletOwner
    OffchainFeeInfo:
      type: object
      properties:
        gasPrice:
          type: string
          description: gasPrice when calculating the fee
        fees:
          type: array
          items:
            $ref: '#/components/schemas/TokenFeeInfo'
      required:
        - gasPrice
        - fees
    NextStorageIdInfo:
      type: object
      properties:
        orderId:
          type: integer
          description: Next storage ID for order request, must be even
        offchainId:
          type: integer
          description: Next storage ID for off-chain requests, i.e., transfer/withdraw/updateAccount, must be odd
      required:
        - orderId
        - offchainId
    TxHashInfo:
      type: object
      properties:
        hash:
          type: string
          description: The hash identifier set by the user at the time of submission, can use this hash to get the transfer info
        status:
          type: string
          description: Whether the order was successfully submitted or not, please note, user may query after a while to get real process status, as most offchain requests are async processed
          enum:
            - received
            - processing
            - processed
            - failed
        isIdempotent:
          type: boolean
          description: Idempotent of submit transfer response, submit same transfer again idempotent will be true
    TransferNftRequest:
      type: object
      properties:
        exchange:
          type: string
          description: Exchange address
        fromAddress:
          type: string
          description: Sender address
        fromAccountId:
          type: integer
          description: Sender accountId
        toAddress:
          type: string
          description: Receiver address
        toAccountId:
          type: integer
          description: Receiver accountId, can set to 0 if dont have one
        token:
          $ref: '#/components/schemas/NftTokenAmountInfo'
          description: nft token
        maxFee:
          $ref: '#/components/schemas/TokenAmountInfo'
        storageId:
          type: integer
          description: the offchain id
        validUntil:
          type: integer
          format: int64
          description: Timestamp for transfer to become invalid, seconds, normally current time + 2 months
        eddsaSignature:
          type: string
          description: eddsa signature of the eddsa hash
        memo:
          type: string
          description: (Optional) memo
        payPayeeUpdateAccount:
          type: boolean
          description: (Optional) payPayeeUpdateAccount
        counterFactualInfo:
          $ref: '#/components/schemas/CounterfactualWalletInfo'
          description: (Optional) counterFactualInfo, if it's counterFactual wallet, need pass the info
      required:
        - exchange
        - fromAddress
        - fromAccountId
        - toAddress
        - toAccountId
        - token
        - maxFee
        - storageId
        - validUntil
    NFTMintRequestV3:
      type: object
      properties:
        exchange:
          type: string
          description: Exchange address
        minterAddress:
          type: string
          description: minter address
        minterId:
          type: integer
          description: minter accountID
        toAddress:
          type: string
          description: to address
        toAccountId:
          type: integer
          description: to accountId
        nftType:
          type: integer
          enum: [0, 1]
          description: 0 for ERC1155, 1 for ERC721, now only support ERC1155
        tokenAddress:
          type: string
          description: tokenAddress
        nftId:
          type: string
          description: nftId
        amount:
          type: string
          description: how many tokens to mint
        royaltyPercentage:
          type: integer
          minimum: 0
          maximum: 10
          description: fee to the creator of each NFT transaction. 1 ~ 10, percentage
        maxFee:
          $ref: '#/components/schemas/TokenAmountInfo'
        storageId:
          type: integer
          description: the offchain id of fee token
        validUntil:
          type: integer
          format: int64
          description: Timestamp for transfer to become invalid, seconds
        eddsaSignature:
          type: string
          description: eddsa signature of the eddsa hash
      required:
        - exchange
        - minterAddress
        - minterId
        - toAddress
        - toAccountId
        - nftType
        - tokenAddress
        - nftId
        - amount
        - royaltyPercentage
        - maxFee
        - storageId
        - validUntil
        - eddsaSignature
    UserNftBalancesInfo:
      type: object
      properties:
        totalNum:
          type: integer
          description: Total number
        data:
          type: array
          items:
            $ref: '#/components/schemas/CombinedBalance'
      required:
        - totalNum
        - data
    NftDataInfo:
      type: object
      properties:
        nftData:
          type: string
          description: nftData
        minter:
          type: string
          description: minter
        nftType:
          type: string
          enum: [ERC1155, ERC721]
          description: nftType
        tokenAddress:
          type: string
          description: tokenAddress
        nftId:
          type: string
          description: nftId
        royaltyPercentage:
          type: integer
          description: royaltyPercentage
        status:
          type: boolean
          description: status
        nftFactory:
          type: string
          description: nftFactory
        nftOwner:
          type: string
          description: nftOwner
        nftBaseUri:
          type: string
          description: nftBaseUri
        royaltyAddress:
          type: string
          description: royaltyAddress
        originalMinter:
          type: string
          description: originalMinter
        originalRoyaltyPercentage:
          type: integer
          description: royaltyPercentage
        createdAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds
          example: 1669188281228
      required:
        - nftData
        - minter
        - nftType
        - tokenAddress
        - nftId
        - royaltyPercentage
    PendingBalance:
      type: object
      properties:
        withdraw:
          type: string
          description: Withdrawal pending balance which means the token is in withdrawal state but not arrived L1
        deposit:
          type: string
          description: Deposit pending balance which means the token is in deposit state but not arrived L2
      required:
        - withdraw
        - deposit
    MetadataImageSize:
      properties:
        240-240:
          type: string
          description: 240x240
        332-332:
          type: string
          description: 332x332
        original:
          type: string
          description: Original
      required:
        - 240-240
        - 332-332
        - original
    MetadataExtra:
      properties:
        imageData:
          type: string
          description: ImageData
        externalUrl:
          type: string
          description: ExternalUrl
        attributes:
          type: string
          description: Attributes
        backgroundColor:
          type: string
          description: BackgroundColor
        animationUrl:
          type: string
          description: AnimationUrl
        youtubeUrl:
          type: string
          description: YoutubeUrl
        minter:
          type: string
          description: Minter
      required:
        - imageData
        - externalUrl
        - attributes
        - backgroundColor
        - animationUrl
        - youtubeUrl
        - minter
    MetadataBase:
      type: object
      properties:
        name:
          type: string
          description: Name
        decimals:
          type: integer
          description: Decimals
        description:
          type: string
          description: Description
        image:
          type: string
          description: Image
        properties:
          type: string
          description: Properties
        localization:
          type: string
          description: Localization
        createdAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds
          example: 1669188281228
        updatedAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds
          example: 1669188281228
      required:
        - name
        - decimals
        - description
        - image
        - properties
        - localization
    Metadata:
      type: object
      properties:
        uri:
          type: string
          description: IPFS uri
        tokenAddress:
          type: string
          description: Token Address
        network:
          type: integer
          enum:
            - 0
          description: Network
        status:
          type: integer
          description: Status
        nftType:
          type: integer
          enum:
            - 0
            - 1
          description: NFT Type
        nftId:
          type: string
          description: Nft ID
        base:
          $ref: '#/components/schemas/MetadataBase'
        extra:
          $ref: '#/components/schemas/MetadataExtra'
        imageSize:
          $ref: '#/components/schemas/MetadataImageSize'
      required:
        - uri
        - tokenAddress
        - network
        - nftType
        - base
        - status
    Preference:
      type: object
      properties:
        favourite:
          type: boolean
        hide:
          type: boolean
    Cached:
      type: object
      properties:
        avatar:
          type: string
          description: URL of collection avatar
          example: https://d12jj0pnkw1mbj.cloudfront.net/088010b1d3ab60069e87a7055554f012eb82d55b4dc88ea7a9a197d89964bc46-original
        banner:
          type: string
          description: URL of collection banner
          example: https://d12jj0pnkw1mbj.cloudfront.net/088010b1d3ab60069e87a7055554f012eb82d55b4dc88ea7a9a197d89964bc46-original
        tileUri:
          type: string
          description: URL of collection tile
          example: https://d12jj0pnkw1mbj.cloudfront.net/088010b1d3ab60069e87a7055554f012eb82d55b4dc88ea7a9a197d89964bc46-original
        thumbnail:
          type: string
          description: URL of collection thumbnail
          example: https://d12jj0pnkw1mbj.cloudfront.net/088010b1d3ab60069e87a7055554f012eb82d55b4dc88ea7a9a197d89964bc46-original
    Times:
      type: object
      properties:
        createdAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds
          example: 1669188281228
        updatedAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds
          example: 1669188281228
    Extra:
      type: object
      properties:
        properties:
          type: object
          properties:
            isLegacy:
              type: boolean
              description: If this collection was created from a legacy NFT token address, see Create collection from legacy NFTs
            isPublic:
              type: boolean
            isCounterFactualNFT:
              type: boolean
              description: Whether the NFT token address was counter-factual
            isMintable:
              type: boolean
              description: Whether the user can mint more nfts under this token address
            isEditable:
              type: boolean
              description: Whether the user can edit collection info
            isDeletable:
              type: boolean
              description: User can delete one collection only if he is the creator of that collection and the collection is empty
        mintChannel:
          type: string
          description: Where this collection initially created
          example: UNKNOWN_CHANNEL
    Collection:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique collection Id
          example: 256
        owner:
          type: string
          description: Owner address
          example: 0x3be20a5500a331ef148f1aca64e326cd0b605a4b
        name:
          type: string
          description: Collection name
          example: test1127
        contractAddress:
          type: string
          description: ERC1155 nft token address to be deployed on L1
          example: 0x4a71d8b79ab6d9ae89e6709a54e53db9c9e27e49
        collectionAddress:
          type: string
          description: URL of collection metadata, if this collection is created via loopring.io web app, collectionAddress will start with 0x, and it can be visited on the browser via appending prefix https://nftinfos.loopring.io/ to the collectionAddress, for example, https://nftinfos.loopring.io/0x9717fa2a7d827b3db111be23938c95d14b875863. Otherwise, it may be the format of ipfs ipfs://... or https https://...
          example: 0x9717fa2a7d827b3db111be23938c95d14b875863 or https://api.nft.gamestop.com/getCollectionMetadata?collectionId=a07373e5-989d-4746-909b-e87430b5947c
        baseUri:
          type: string
          description: Generated by Loopring
          example: ipfs://0x26ae6d3096348959d033b32ef635b58c0b50d5cb2165debafbb7e6eef783fd9e
        nftFactory:
          type: string
          description: NFT factory contract address of this collection
          example: 0xfDDA90dbCc99B3a91e3fB1292991Ba1076d9E281
        description:
          type: string
          description: Text
        avatar:
          type: string
          description: Ipfs URI or URL of collection image
          example: ipfs://QmZop7r8RQkB3L9BNfkKsZfY82kTVoPQyaSiZsTeKgTDij
        banner:
          type: string
          description: Ipfs URI or URL of collection banner
          example: ipfs://QmZop7r8RQkB3L9BNfkKsZfY82kTVoPQyaSiZsTeKgTDij
        thumbnail:
          type: string
          description: Ipfs URI or URL of collection thumbnail
          example: ipfs://QmZop7r8RQkB3L9BNfkKsZfY82kTVoPQyaSiZsTeKgTDij
        tileUri:
          type: string
          description: Ipfs URI or URL of collection tile
          example: ipfs://QmZop7r8RQkB3L9BNfkKsZfY82kTVoPQyaSiZsTeKgTDij
        cached:
          $ref: '#/components/schemas/Cached'
          description: Cached collection image URL read and stored by loopring if the cache is available. If the cache constructed fails will return empty.
        deployStatus:
          type: string
          enum:
            - NOT_DEPLOYED
            - DEPLOY_FAILED
            - DEPLOYING
            - DEPLOYED
          description: L1 ERC1155 NFT contract deploy status
        nftType:
          type: string
          enum:
            - ERC1155
            - ERC721
          description: Collections created from loopring.io are all ERC1155
        isPublic:
          type: boolean
          description: is public
        times:
          $ref: '#/components/schemas/Times'
          description: Created and updated time
        extra:
          $ref: '#/components/schemas/Extra'
          description: Extra info
    CombinedBalance:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: ID
        accountId:
          type: integer
          description: AccountID
        tokenId:
          type: integer
          description: tokenId
        nftData:
          type: string
          description: (Optional) Users NFT token nftData
        tokenAddress:
          type: string
          description: (Optional) token address
        nftType:
          type: string
          description: nft type
          enum:
            - ERC1155
            - ERC721
        nftId:
          type: string
          description: (Optional) nft id
        total:
          type: string
          description: total amount
        locked:
          type: string
          description: frozen amount
        pending:
          $ref: '#/components/schemas/PendingBalance'
          description: pending balance
        isCounterFactualNFT:
          type: boolean
          description: is counterFactual NFT or not
        minter:
          type: string
          description: minter of nft
        royaltyPercentage:
          type: integer
          description: royalty percentage
        deploymentStatus:
          type: string
          enum:
            - NOT_DEPLOYED
            - DEPLOYING
            - DEPLOYED
          description: tokenAddress deploy status
        preference:
          $ref: '#/components/schemas/Preference'
        metadata:
          $ref: '#/components/schemas/Metadata'
          description: (Optional) only if metadata query parameter is true
        collectionInfo:
          $ref: '#/components/schemas/Collection'
        balanceUpdatedAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds
          example: 1669188281228
        updatedAt:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds
          example: 1669188281228
      required:
        - id
        - accountId
        - tokenId
        - nftType
        - total
        - locked
        - pending
        - isCounterFactualNFT
        - deploymentStatus
        - minter
        - royaltyPercentage
        - tokenAddress
        - nftId
        - nftData
    LockAssetResponse:
      type: object
      properties:
        hash:
          type: string
          description: The hash identifier set by the user at the time of submission, can use this hash to get info
        isIdempotent:
          type: boolean
          description: isIdempotent
    LockAssetRequest:
      type: object
      properties:
        accountId:
          type: integer
          description: accountId
        eddsaSignature:
          type: string
          description: eddsa signature of the eddsa hash
        exchange:
          type: string
          description: Exchange address
        lockedUntil:
          type: integer
          description: lockedUntil
          example: 1659864282
        tag:
          type: string
          description: Tag
          example: Test-Lock-1657272282062
        timestamp:
          type: integer
          description: timestamp
          example: 1657272282
        token:
          type: object
          properties:
            tokenId:
              type: integer
            volume:
              type: string
          required:
            - tokenId
            - volume
      required:
        - eddsaSignature
        - accountId
        - exchange
        - timestamp
        - lockedUntil
        - token
        - tag
    UnlockAssetRequest:
      type: object
      properties:
        accountId:
          type: integer
          description: accountId
        hash:
          type: string
          description: the lock hash returned from lockAsset
      required:
        - accountId
        - hash
    NftTokenAmountInfo:
      type: object
      properties:
        tokenId:
          type: integer
          description: the Loopring's NFT token identifier
        nftData:
          type: string
          description: the Loopring's NFT token data identifier which is a hash string of NFT token address and NFT_ID
        amount:
          type: string
          description: the amount of the NFT token
      required:
        - tokenId
        - amount
    NftMakerOrder:
      type: object
      properties:
        exchange:
          type: string
          description: exchangeAddress in exchange info
        accountId:
          type: integer
          description: accountId
        storageId:
          type: integer
          description: storageId
        sellToken:
          $ref: '#/components/schemas/NftTokenAmountInfo'
          description: nft token
        buyToken:
          $ref: '#/components/schemas/TokenAmountInfo'
          description: erc20 token
        allOrNone:
          type: boolean
          description: allOrNone
        fillAmountBOrS:
          type: boolean
          description: fillAmountBOrS
        validUntil:
          type: integer
          format: int64
          description: timestamp for transfer to become invalid, seconds
        maxFeeBips:
          type: integer
          description: maximum order fee that the user can accept, value range (in ten thousandths) 1 ~ 5000
        eddsaSignature:
          type: string
          description: eddsa signature of the eddsa hash
        taker:
          type: string
          description: taker address
      required:
        - exchange
        - accountId
        - storageId
        - sellToken
        - buyToken
        - allOrNone
        - fillAmountBOrS
        - validUntil
        - maxFeeBips
        - eddsaSignature
    NftTakerOrder:
      type: object
      properties:
        exchange:
          type: string
          description: exchangeAddress in exchange info
        accountId:
          type: integer
          description: accountId
        storageId:
          type: integer
          description: storageId
        sellToken:
          $ref: '#/components/schemas/TokenAmountInfo'
          description: erc20 token
        buyToken:
          $ref: '#/components/schemas/NftTokenAmountInfo'
          description: nft token
        allOrNone:
          type: boolean
          description: allOrNone
        fillAmountBOrS:
          type: boolean
          description: fillAmountBOrS
        validUntil:
          type: integer
          format: int64
          description: timestamp for transfer to become invalid, seconds
        maxFeeBips:
          type: integer
          description: maximum order fee that the user can accept, value range (in ten thousandths) 1 ~ 5000
        eddsaSignature:
          type: string
          description: eddsa signature of the eddsa hash
        taker:
          type: string
          description: taker address
      required:
        - exchange
        - accountId
        - storageId
        - sellToken
        - buyToken
        - allOrNone
        - fillAmountBOrS
        - validUntil
        - maxFeeBips
        - eddsaSignature
    TradeNftRequest:
      type: object
      properties:
        maker:
          $ref: '#/components/schemas/NftMakerOrder'
          description: maker order
        makerFeeBips:
          type: integer
          description: maker fee bips
        taker:
          $ref: '#/components/schemas/NftTakerOrder'
          description: taker order
        takerFeeBips:
          type: integer
          description: taker fee bips
      required:
        - maker
        - makerFeeBips
        - taker
        - takerFeeBips
    NftTradeFill:
      type: object
      properties:
        orderHash:
          type: string
          description: the order hash
        sellFilled:
          type: object
          description: the orders sell fill
        buyFilled:
          type: object
          description: the orders buy fill
        fee:
          type: object
          description: the orders fee
    TradeNftResponse:
      type: object
      properties:
        makerFills:
          $ref: '#/components/schemas/NftTradeFill'
          description: maker fills
        takerFills:
          $ref: '#/components/schemas/NftTradeFill'
          description: taker fills
        tradeHash:
          type: string
          description: the trade hash which can be queried in loopring scan web
    AccountInfo:
      type: object
      properties:
        accountId:
          type: integer
          description: Account ID
        owner:
          type: string
          description: Ethereum address
        frozen:
          type: boolean
          description: The frozen state of the account, true stands for frozen, if the account is frozen, the user cannot submit an order.
        publicKey:
          $ref: '#/components/schemas/PublicKey'
          description: The user's public key
        tags:
          type: string
          description: Comma separated list of tags such as VIP levels, etc
        nonce:
          type: integer
          description: nonce
        keyNonce:
          type: integer
          description: Nonce of users key change request, for backward compatible
        keySeed:
          type: string
          description: KeySeed of users L2 eddsaKey, the L2 key should be generated from this seed, i.e., L2_EDDSA_KEY=eth.sign(keySeed). Otherwise, users may receive an error when logging into the Loopring DEX
      required:
        - accountId
        - owner
        - frozen
        - publicKey
        - nonce
        - keyNonce
        - keySeed
    PublicKey:
      type: object
      properties:
        x:
          type: string
          description: The public keys x part.
        y:
          type: string
          description: The public keys y part.
      required:
        - x
        - y
    UserApiKey:
      type: object
      properties:
        apiKey:
          type: string
          description: ApiKey
      required:
        - apiKey
    ResolveNameInfo:
      type: object
      properties:
        data:
          type: string
          description: Resolved name or empty string
      required:
        - data
